# K-MEAN

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import random

In [42]:
data = pd.read_csv('C:\\Users\\RAHUL\\Desktop\\kmean.csv')

In [43]:
data

    height  weight
0      185      72
1      170      56
2      168      60
3      179      68
4      182      72
5      188      77
6      180      71
7      180      70
8      183      84
9      180      88
10     180      67
11     177      76

In [44]:
d1=data[2:]
d1

    height  weight
2      168      60
3      179      68
4      182      72
5      188      77
6      180      71
7      180      70
8      183      84
9      180      88
10     180      67
11     177      76

In [48]:
a=[185,72]
b=[170,56]
k1=[180,72]
k2=[170,56]
i=2
for i in range(2,11):
    dist1=math.sqrt((k1[0]-data.height[i])*(k1[0]-data.height[i])+(k1[1]-data.weight[i])*(k1[1]-data.weight[i]))
    dist2=math.sqrt((k2[0]-data.height[i])*(k2[0]-data.height[i])+(k2[1]-data.weight[i])*(k2[1]-data.weight[i]))
    #print(dist1)
    #print(dist2)
    if(dist1>dist2):
        b.append(d1.height[i])
        b.append(d1.weight[i])
        k2.append(d1.height[i])
        k2.append(d1.weight[i])
        #print(b)
        k2=[(k2[0]+k2[2])/2,(k2[1]+k2[3])/2]
        #print(k2)
        i=+1
    elif(dist1<dist2):
        a.append(d1.height[i])
        a.append(d1.weight[i])
        k1.append(d1.height[i])
        k1.append(d1.weight[i])
        #print(a)
        k1=[(k1[0]+k1[2])/2,(k1[1]+k1[3])/2]
        #print(k1)
        i=+1
print("Cluster k1 is:",a)
print("Cluster k2 is:",b)

Cluster k1 is: [185, 72, 179, 68, 182, 72, 188, 77, 180, 71, 180, 70, 183, 84, 180, 88]
Cluster k2 is: [170, 56, 168, 60, 180, 67]

# K-Medoids